body
{
    text-align:center;
}

.header{
    width:100%;
}

.header h3{
    display:inline;
}

.header button{
    float: right;
    border:1px solid white;
}

.modal-dialog{
    width:90%;
}

.copyright{
    position:fixed;
    color:dodgerblue;
    bottom:0;
    width:100%;
    background-color:firebrick;
    line-height:3;
    text-align:center;
}